<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!----webfonts--->
<!-- <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="js/login.js">

<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/login.css">
</head>
<body id="login">
  <div class="login-logo">
    <a href="index.html"><img src="https://www.best-seeing.com/images/logo.png" alt=""/></a>
  </div>
  <h2 class="form-heading"></h2>
  <div class="app-cam">
	  <form autocomplete="off" method="post" action="employeeLogin">
		<input type="text" name="username" autocomplete="off" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'username';}">
		<input type="password" name="password" autocomplete="off" class="password" value="Password" onfocus="this.value = '';"  onblur="if (this.value == '') {this.value = 'password';}">
		<div class="submit"><input type="submit" value="登录" class="submit"></div>
		<div class="tips">
			<%if(typeof inf != "undefined") {%>
						<%-inf%>
					<%} else {%>	
					<%}%></div>
		<ul class="new">
			<!-- <li class="new_left"><p><a href="#">忘记密码 ?</a></p></li> -->
			<li class="new_right"><p class="sign"><a href="toregister"> 注册</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy;  2017浙江贯通科技有限公司版权所有 &nbsp; 浙B2-20090104-5</p>
			<p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009257" style="color: #939393; text-decoration: none;"><img src="https://www.best-seeing.com/images/beian.png" alt="">浙公网安备 33010802009257号</a></p>
   </div>
</body>
</script>
</html>
