<!DOCTYPE HTML>
<html>
	<head>
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Bootstrap Core CSS -->
		<link href="../public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="../public/css/style.css" rel='stylesheet' type='text/css' />
		<link href="../public/css/font-awesome.css" rel="stylesheet">
		<!-- jQuery -->
		<script src="../public/js/jquery.min.js"></script>
		<!----webfonts--->
		<!-- <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
		<!---//webfonts--->
		<!-- Bootstrap Core JavaScript -->
		<script src="../public/js/bootstrap.min.js"></script>
	</head>
	<body id="login">
		<div class="login-logo">
			<a href="index.html"><img src="https://www.best-seeing.com/images/logo.png" alt="" /></a>
		</div>
		<h2 class="form-heading" style="color: #333;font-weight: 300;">注册</h2>
		<form class="form-signin app-cam" action="index.html">
			<p style="color: #333; font-weight: 300;">请输入您的基本信息</p>
			<input type="text" class="form-control1" placeholder="姓名" autofocus="">
			<input type="text" class="form-control1" placeholder="地址" autofocus="">
			<input type="text" class="form-control1" placeholder="邮箱" autofocus="">
			<input type="text" class="form-control1" placeholder="城市" autofocus="">
			<div class="radios">
				<label for="radio-01" class="label_radio">
					<input type="radio" checked=""> 男
				</label>
				<label for="radio-02" class="label_radio">
					<input type="radio"> 女
				</label>
			</div>
			<p style="color: #333;font-weight: 300;"> 请输入您的账户信息</p>
			<input type="text" class="form-control1" placeholder="用户名" autofocus="">
			<input type="password" class="form-control1" placeholder="密码">
			<input type="password" class="form-control1" placeholder="请再次输入密码">
			<label class="checkbox-custom check-success">
				<input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">我同意服务信息协议</label>
			</label>
			<button class="btn btn-lg btn-success1 btn-block" type="submit">提交</button>
			<div class="registration">
				已经注册.
				<a class="" href="login.html">
					登录
				</a>
			</div>
		</form>
		<div class="copy_layout login register">
			<p>Copyright &copy; 2017浙江贯通科技有限公司版权所有 &nbsp; 浙B2-20090104-5</p>
			<p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009257" style="color: #939393; text-decoration: none;"><img
					 src="https://www.best-seeing.com/images/beian.png" alt="">浙公网安备 33010802009257号</a></p>
		</div>
	</body>
</html>
