<!DOCTYPE HTML>
<html>
<head>
	<title>Basic_tables</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="../public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="../public/css/style.css" rel='stylesheet' type='text/css' />
	<link href="../public/css/font-awesome.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="../public/js/jquery.min.js"></script>
	<!----webfonts--->
	<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<!---//webfonts--->
	<!-- Bootstrap Core JavaScript -->
	<script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- Navigation -->

	<div id="page-wrapper">
		<div class="col-md-12 graphs">
			<div class="xs">
				<h3>用户管理模块</h3>
				<div class="bs-example4" data-example-id="contextual-table">
					<table class="table">
						<thead>
						<tr>
							<th>#</th>
							<th>ID</th>
							<th>用户名</th>
							<th>密码</th>
							<th>状态</th>
							<th>注册时间</th>
							<th colspan ='2'>操作</th>

						</tr>
						</thead>
						<tbody>
						<tr class="active">
							<th scope="row">1</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr class="success">
							<th scope="row">3</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr class="info">
							<th scope="row">5</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr>
							<th scope="row">6</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr class="warning">
							<th scope="row">7</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr>
							<th scope="row">8</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						<tr class="danger">
							<th scope="row">9</th>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td><button>删除</button></td>
							<td><button>修改</button></td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="copy_layout">
					<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Nav CSS -->
	<link href="../public/css/custom.css" rel="stylesheet">
	<!-- Metis Menu Plugin JavaScript -->
	<script src="../public/js/metisMenu.min.js"></script>
	<script src="../public/js/custom.js"></script>
</body>
</html>
