<!DOCTYPE HTML>
<html>
	<head>
		<title>Basic_tables</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- jQuery -->
		<script src="js/jquery.min.js"></script>
		<!----webfonts--->
		<!-- <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
		<!---//webfonts--->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<!-- 引入user.js文件 -->
		<script src="js/h-user.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-color:#6EB3A6;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<!-- <span class="icon-bar"></span> -->
					</button>
					<a class="navbar-brand" href="index.html" onclick="askpro()">用户管理</a>
					<!-- <button ">请求</button> -->
					<!-- <button onclick="addshow()" style="z-index: 999; border: none; background-color: #6EB3A6; margin-top: 14px; color: #fff;">添加产品</button> -->
				</div>
				<!-- /.navbar-header -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" style="font-size: 12px;">
						<%if(typeof name != "undefined") {%>
						欢迎
						<a href="tohome" style="display: inline-block;"><%-name%></a>, <a href="loginout" class="dropdown-toggle" id="loginout" style="display: inline-block;">退出</a>
						<%}%>
					</li>
				</ul>
				<!-- <form class="navbar-form navbar-right">
						<input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
					</form> -->
				<!-- /.navbar-static-side -->
			</nav>
			<div id="page-wrapper">
				<div class="col-md-12 graphs">
					<div class="xs">
						<a href="javascript:user.clickShow()" id="userButton">用户模块</a>
						<!-- 表格中的数据 -->
						<div id="userdata"></div>
						<!-- 修改数据界面 -->
						<div id="userUpdateView">
							<form action="#" method="post">
								<input id="getid" type="hidden" />
								备注: <input id="putremark" type="text" value="订单延迟" /><br />
								接收测试: <input id="getvalinput" type="text" value="" /><br />

							</form>
							<button onclick="user.updateRemark();">修改订单状态</button>
							<button onclick="user.cancleUpdateView();">取消</button>
							<div id="updateinf"></div>
						</div>
						<ul class="pagination">
							<li id="preli"><a href="javascript:user.changePage('pre')">&laquo;</a></li>
							<li class="page-item"><a class="page-link" href="#">
									<span id="nowpagesp"></span>
									/
									<span id='totalpagesp'></span></a>
							</li>
							<li id="nextli"><a href="javascript:user.changePage('next')">&raquo;</a></li>
						</ul>
						<!-- 页脚 -->
						<!-- <div class="copy_layout">
							<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
								 target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
						</div> -->
					</div>
				</div>
				<!-- /#page-wrapper -->
			</div>
			<!-- /#wrapper -->
			<!-- Nav CSS -->
			<link href="css/custom.css" rel="stylesheet">
			<!-- Metis Menu Plugin JavaScript -->
			<script src="js/metisMenu.min.js"></script>
			<script src="js/custom.js"></script>
	</body>
</html>
